<div class="text-700 mb-6 text-center line-height-3">
    <div class="grid">
        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <img src="../../assets/img/location.png" height="100px" width="100px">
                <h1 class="fw-bold mb-0 fs-5">Location</h1>
                <p>123 Main Street</p>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <img src="../../assets/img/openhour.webp" height="100px" width="100px">
                <h1 class="fw-bold mb-0 fs-5">Open Hours</h1>
                <p>Mon – Sun: 11:00am–9:00pm</p>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <img src="../../assets/img/phone.png" height="100px" width="100px">
                <h1 class="fw-bold mb-0 fs-5">Phone</h1>
                <p>111-222-3434</p>
            </div>
        </div>
    </div>

    <div class="text-700 text-xl mb-6 text-center line-height-3">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6043.750904389232!2d-73.520108!3d40.764764!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c280fdb349596f%3A0x2c3a41b24b7baf9d!2s183%20S%20Broadway%2C%20Hicksville%2C%20NY%2011801!5e0!3m2!1sen!2sus!4v1692031958478!5m2!1sen!2sus"
            width="1200" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

</div>
