

<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Revitalize Your Locks</span>
            <div class="text-6xl text-primary font-bold mb-3">Luxurious Hair Spa Experience</div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                Treat your tresses to the ultimate pampering with our rejuvenating Hair Spa services at Beauty Salon. 
                We believe that healthy and beautiful hair is essential to your overall confidence and well-being, 
                which is why we offer a range of tailored hair spa treatments to cater to your unique needs.
            </p>
            
            <button pButton pRipple label="Learn More" type="button" class="mr-1 p-button-raised"></button>
            <button pButton pRipple label="Book Apoinment" type="button" class="p-button-outlined" routerLink="/book-appoinment"></button>
        </section>
        <div class="col-12 md:col-6 overflow-hidden">
            <div class="video-container">
                <video controls width="250px" height="500px">
                <source src="../../assets/img/White and Purple Aesthetic Feminime Salon & Spa Instagram Reels Video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Glamour at Your Fingertips</span>
            <div class="text-6xl text-primary font-bold mb-3">Nail Spa Bliss Experience</div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                Pamper your nails and elevate your style with the exquisite nail spa services at Beauty Salon. 
                Our dedicated team of nail technicians is committed to making your nail experience a true indulgence.
            </p>
            
            <button pButton pRipple label="Learn More" type="button" class="mr-1 p-button-raised"></button>
            <button pButton pRipple label="Book Apoinment" type="button" class="p-button-outlined" routerLink="/book-appoinment"></button>
        </section>
        <div class="col-12 md:col-6 overflow-hidden">
            <div class="video-container">
                <video controls width="250px" height="500px">
                <source src="../../assets/img/Purple Simple Entrepreneurship Manicure Instagram Reel.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Blissful Escape</span>
            <div class="text-6xl text-primary font-bold mb-3">Body Massage Sanctuary Experience</div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                Indulge in the ultimate relaxation experience with our luxurious body massage services at Beauty Salon. 
                Our highly skilled and trained massage therapists are dedicated to providing you with a rejuvenating escape 
                from the stresses of daily life.
            </p>
            
            <button pButton pRipple label="Learn More" type="button" class="mr-1 p-button-raised"></button>
            <button pButton pRipple label="Book Apoinment" type="button" class="p-button-outlined" routerLink="/book-appoinment"></button>
        </section>
        <div class="col-12 md:col-6 overflow-hidden">
            <div class="video-container">
                <video controls width="250px" height="500px">
                <source src="../../assets/img/White Photocentric Spa Services Instagram Reel.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Flawless Beauty</span>
            <div class="text-6xl text-primary font-bold mb-3">Makeup Artistry at Its Finest Experience</div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                Elevate your beauty and embrace your inner glamour with the exceptional makeup services at Beauty Salon. 
                Our team of skilled makeup artists is here to enhance your natural features and create stunning looks for any occasion. 
                Whether you're seeking a natural, everyday glow, a bold and dramatic transformation, or bridal makeup that 
                will leave you radiant on your special day, we've got you covered.
            </p>
            
            <button pButton pRipple label="Learn More" type="button" class="mr-1 p-button-raised"></button>
            <button pButton pRipple label="Book Apoinment" type="button" class="p-button-outlined" routerLink="/book-appoinment"></button>
        </section>
        <div class="col-12 md:col-6 overflow-hidden">
            <div class="video-container">
                <video controls width="250px" height="500px">
                <source src="../../assets/img/Bright Makeup Promo Mobile Video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
      
</div>
