.banner {
    position: relative;
    text-align: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add more styles for your content */
  }
  .overlay-button {
    position: absolute;
    bottom: 320px; /* Adjust the button's position as needed */
    right: 590px; /* Adjust the button's position as needed */
    z-index: 1; /* Ensure the button appears on top of the image */
  }

  .image-container {
    text-align: center;
    margin: 20px;
  }
  
  