<div class="banner">
    <img src="../../assets/img/Black And Gold Elegant Beauty Salon Facebook Cover .png" alt="Image" >
    <button pButton type="button" label="Book Now" class="overlay-button p-button-warning" [routerLink]="['/book-appoinment']"></button>
</div>



<div class="surface-section px-4 py-8 md:px-6 lg:mx-0 bg-gray-300">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">
            <h1>Instant Tan Services</h1>
        </div>
        
        <!-- <hr class="featurette-divider"> -->

        <div class="grid px-5 py-8">
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-verified text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-bold text-blue-600">Spray Tan</div>
                <span class="text-700 line-height-3">
                    Our skilled technicians use high-quality spray tanning solutions to provide you with a flawless, natural-looking tan. 
                    Choose from various shades to achieve the perfect tone for your skin.
                </span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-verified text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-bold text-blue-600">Airbrush Tan</div>
                <span class="text-700 line-height-3">
                    For a truly customized tan, opt for our airbrush tanning service. 
                    Our experts will carefully apply the tanning solution, contouring it to accentuate your best features.
                </span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-verified text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-bold text-blue-600">Express Tan</div>
                <span class="text-700 line-height-3">
                    Short on time? Our express tan option offers rapid development, allowing you to rinse off the solution in 
                    as little as one to three hours for a quick tan that fits into your busy schedule.
                </span>
            </div>
        </div>
    </div>
</div>

<!-- <hr class="featurette-divider"> -->

<div class="surface-section px-4 py-8 md:px-6 lg:mx-0 bg-gray-300">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">
            <h1>Why Choose Beauty Salon for Your Instant Tan</h1>
        </div>
        
        <div class="grid px-5 py-8">
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-heart text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-bold text-blue-600">Expert Technicians & Hygienic Practices</div>
                <span class="text-700 line-height-3">
                    Our certified technicians are highly trained in the art of tanning, ensuring even application 
                    and a streak-free finish. We prioritize hygiene and cleanliness in our tanning process to ensure a safe 
                    and comfortable experience.
                </span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-heart text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-bold text-blue-600">Premium Products & Lasting Results</div>
                <span class="text-700 line-height-3">
                    We use top-tier tanning products that are known for their natural-looking results and long-lasting color.
                    Enjoy your beautiful tan for days, and extend its longevity with our recommended aftercare products.
                </span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-heart text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-bold text-blue-600">Customization</div>
                <span class="text-700 line-height-3">
                    Tailor your tan to your preferences, whether you want a subtle glow or a deep, tropical bronze.
                </span>
            </div>
            
        </div>
    </div>
</div>


<div class="image-container">
    <div class="text-blue-600 font-bold mb-3">
        <h1>Our Services</h1>
    </div>
    <img src="../../assets/img/Salon.jpg" alt="Image" width="100%" height="auto">
  </div>

  <div class="image-container">
    <img src="../../assets/img/BeautySalon.jpg" alt="Image" width="100%" height="auto">
  </div>