
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">
            <i class="pi pi-slack"></i>
            &nbsp;Beauty Salon
        </div>
        <div class="text-900 font-bold text-5xl mb-3">
            About this location
        </div>
        <div class="text-700 text-2xl mb-5">
            <span style="color: rgb(158, 104, 187); font-size: 18px;">
               <strong>Beauty Salon</strong> Suite offers fully furnished, move-in ready private suites 
                to independent beauty and wellness professionals looking to grow their business and improve their lives. 
                Join our community of creative and inspiring entrepreneurs today! Schedule a no-obligation tour to learn about 
                our space and how we help professionals like you meet your full financial and artistic potential.
            </span> 
            <p></p>
            <p></p>
            <span style="background-color: transparent; color: rgb(158, 104, 187); font-size: 18px;">
                Conveniently located in the hamlet of East Meadow alongside bustling anchor stores Stew Leonard’s and Marshalls, 
                <strong>Beauty Salon</strong> Suite East Meadow is a new beauty and wellness complex offering luxury services to a discerning clientele. 
                The newly renovated Stew Leonard’s Plaza has plenty of parking and is nestled at the corner of Front Street and 
                East Meadow Avenue, just south of Eisenhower Park and Hempstead Turnpike.
            </span>
            <p></p>
            <p></p>
            <span style="background-color: transparent; color: rgb(158, 104, 187); font-size: 18px;">
                An abundance of great shopping, fitness and dining options are within a stone’s throw, including Club Pilates, Rite Aid, 
                Uncle Giuseppe’s Marketplace, Garden Social, Orange Theory Fitness, Chipotle, SoBol, Dunkin’, Sonic, 
                Texas Roadhouse and Starbucks. Plus there’s a wide array of stores and eateries in the nearby Roosevelt Field 
                and Samanea New York (formerly The Source) shopping areas: the heart of Nassau County’s retail corridor.
            </span>
            <p></p>
            <p></p>
            <span style="background-color: transparent; color: rgb(158, 104, 187); font-size: 18px;">
                <strong>Beauty Salon</strong> Suite East Meadow is centrally located to major parkways, including the Northern State, Meadowbrook, 
                Wantagh and Southern State, making driving from any place on Long Island a snap.
            </span>
        </div>
        <a pButton pRipple label="Map & Direction" icon="pi pi-map-marker" href="https://www.google.com/maps/search/1959%20Front%20Street,%20East%20Meadow,%20New%20York,%2011554"
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap">
        </a>

        
    </div>
</div>